---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Where do we go? When do we go?</h1>
    <p>Only the Middleman knows</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control textbox" placeholder="Where?"><input type="text" class="form-control textbox" placeholder="When?"><a class="btn btn-primary btn-md">Search</a>
    </form>
  </div>
</div>
<h2 class="text-center">Recent Places</h2>
<div class="col-sm-12 col-md-6 col-lg-4">
  <%= partial "layouts/cards" %>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
  <%= partial "layouts/cards" %>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
  <%= partial "layouts/cards" %>
</div>

    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>

  </div>
